.App {
  background-color: #ccc;
      width: 500px;
}
ul {
  width: 300px;
  padding: 0;
  margin: 0 auto;
  height: 300px;
}
.tile {
  list-style: none;
  width: 100px;
  height: 100px;
  float: left;
  background-color: #fff;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}

.blank {
  background-color: #ccc;
  cursor: default;
}
.container {
  padding: 10px;
}
.App{
  padding: 10px;
}
.btn {
  padding: 5px;
  color: #fff;
}
.starbtn {
  background-color: #82b982;
}
.endbtn {
  background-color: #de7f7f;
}
.win {
  background-color: #57b169;
  color: #fff;
  padding: 20px;
  padding-top: 10px;
  font-size: 30px;
}
